* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: montserrat;
  /* overflow-x: hidden; */
}
:root {
  --primary-orange: #dc5d18;
  --primary-blue: #0f1660;
  --white: #fff;
  --deep-blue: #0c002e;
}
/* HERO STYLES  */

/* TOP HERO STYLES  */
section .top {
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-between;
  align-items: center;
  /* height: 5rem; */
  /* width: 100vw; */
  margin: 1rem 5rem;
  /* remember to remove width later */
}

/* TOP HERO LOGO STYLES  */
section .logo {
  width: 7rem;
}

section .logo img {
  width: 100%;
}

/* TOP HERO SEARCH INPUT STYLES  */
.search .searchbox {
  border: 1px solid blue;
  border-radius: 5px;
  /* width: 20rem; */
  height: 2.5rem;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.searchbox input {
  width: 25rem;
  border: none;
  font-style: 1rem;
  outline: none;
}

.searchbox #searchBtn {
  background-color: var(--primary-orange);
  padding: 10px 15px;
  height: 2.5rem;
  color: var(--white);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* TOP HERO USER STYLES  */
.user {
  font-size: 0.8rem;
}
#myAccount {
  color: var(--primary-blue);
  font-weight: bold;
}

#myAccount a {
  text-decoration: none;
}
#myAccount a i {
  padding: 4px;
}

#myCart a {
  text-decoration: none;
  color: white;
}

#myCart {
  background-color: var(--primary-orange);
  padding: 10px 15px;
  border-radius: 7px;
  color: var(--white);
  margin-left: 2rem;
}

/* HERO NAVBAR  */

nav .navbar {
  background-color: var(--primary-blue);
  width: 100vw;
  height: 4rem;
  /* display: flex; */
}

.navbar .nav-contents {
  margin: 0 5rem;
}

.nav-links {
  display: flex;
  height: 4rem;
  justify-content: space-between;
}

.nav-links .nav-item {
  color: var(--white);
  display: inline-block;
  justify-content: space-between;
  align-self: center;
  /* margin: 1.2rem auto; */
}

.nav-item a {
  text-decoration: none;
  color: var(--white);
  /* padding: 10px 15px; */
}

.nav-item a:hover {
  color: var(--primary-orange);
}

body .main-content {
  height: 30rem;
}

/* FOOTER  */

/* Overflow problem started when developing the footer section  */

.top-footer {
  background-color: var(--deep-blue);
}
.downloads {
  color: var(--white);
  margin: 0rem 5rem;
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
}

.images {
  display: flex;
  width: 21rem;
  justify-content: space-between;
}

.images .image {
  width: 10rem;
  /* overflow-x: hidden; */
  /* height: 4rem; */
}

.images .image img {
  width: 100%;
}

/* FOOTER CONTENTS  */
.bottom-footer {
  background-color: var(--primary-blue);
}
.footer-content {
  margin: 0rem 5rem;
  padding: 3rem 0 1rem 0;
  color: var(--white);
  display: flex;
}

.footer-left {
  width: 15rem;
}

.footer-left p {
  /* text-align: justify; */
  line-height: 1.5;
}

.footer-left .image {
  width: 8rem;
}

.footer-left .image img {
  width: 100%;
}

.footer-left .whiteline {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.socials a {
  text-decoration: none;
  color: white;
  padding: 0 10px;
}

.footer-center {
  width: 33rem;
  margin-left: .5rem;
  display: flex;
}

.footer-center ul {
  margin-left: 1.5rem;
}

.footer-center ul li {
  list-style: none;
  margin-bottom: 0.7rem;
}

.footer-right {
  width: 15rem;
  float: right;
}
.footer-right p {
  font-size: 0.8rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.input-box {
  margin-top: 1rem;
  border: 1px solid white;
  border-radius: 15px;
  padding: 5px 0;
  padding-left: 10px;
}

.input-box input {
  width: 7.7rem;
  font-size: 0.8rem;
  border: none;
  background-color: transparent;
}

#suscribe {
  background-color: var(--primary-orange);
  font-size: 0.8rem;
  border-radius: 15px;
  padding: 7px 10px;
}

footer .copyright{
    color: white;
    /* font-size: 1rem; */
    text-align: center;
    padding-bottom: 1rem;
}

/* footer globals */
footer h4 {
  margin-bottom: 0.8rem;
}

footer p {
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

footer li {
  font-size: 0.8rem;
}
